@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');

*{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Nanum Gothic', monospace; */
}
body{
    background: url("./background2.png") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.profile{
    background-color: rgba(0,0,0,0.6);
    padding: 50px;
    width: max-content;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    /* position: relative; */
}
.profile > img{
    border-radius: 5px;
}
.content{
    vertical-align: top;
    width: max-content;
    display: inline-block;
    margin-left: 50px;
    padding-right: 100px;
}
.content h1{
    font-size: 33px;
    font-weight: 800;
}
.content h2{
    font-size: 17px;
    font-weight: 400;
}
.content ul{
    margin-top: 5px;
    margin-bottom: 13px;
    margin-left: 27px;
}
.content ul li{
    font-size: 14px;
}
.content h3{
    font-size: 14px;
    margin-bottom: 7px;
}
.content a{
    margin-right: 10px;
}
.profile .profile_img{
    /* border-radius: 50%; */
}